.Catalog {
  margin: 30px 0;
  h1 {
    font-weight: 500;
    font-size: 46px;
    text-transform: uppercase;
    color: #ffc400;
    margin-bottom: 30px;
  }
  h2 {
    margin-top: 50px;
    font-weight: 500;
    font-size: 34px;
    text-transform: uppercase;
    color: #808086;
  }
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  button {
    padding: 10px 20px;
    margin-bottom: 15px;
  }
}
